<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Capstone Project</title>
        
    </head>

    <body class="landing">
        <header class="the_header">
            <div class="brand">
                <h3>Capstone<span> Project </span> </h3>
            </div>
        </header>
        <main>
            <section>
                <form class="form">

                    <div class="holder location">
                        <label for="location">Travel Location</label>
                        <input type="text" name="city" class="city" id="location" placeholder="enter your travel location here">
                      </div>

                      <div class="holder date1">
                        <label for="location">Departure Date</label>
                        <input type="date" class="departure_date" name="departure_date">
                      </div>

                      <div class="holder date2">
                        <label for="location">Return Date</label>
                        <input type="date" class="return_date" name="return_date">
                      </div>

                      

                    <input type="submit" value="Find Location" onclick="" onsubmit="">
                </form>
            </section>
           
        </main>

        <footer class="the_footer"> 
            <p>Udacity Project</p>
        </footer>
        <script>
            // Check that service workers are supported
           /*  if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            } */
        </script>
    </body>
</html>
